services:
  # UI Service
  ui-service:
    build: ./ui-service
    container_name: ui-service
    ports:
      - "8080:8080"
    networks:
      - ev-network

networks:
  ev-network:
    driver: bridge
